{% extends 'base/base.html' %} {% block content %} {% if resposta %}
<ul class="list-group list-group-flush">
  <li class="list-group-item active ">
    <h4>{{ chave.nome }}</h4>
  </li>
  {% for frase in resposta %}
  <li
    class="list-group-item  d-flex justify-content-between align-items-center"
  >
    {{ frase.resposta }}
    <span class="badge badge-primary badge-pill">{{ frase.frequencia }}</span>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Sem cadastrado.</p>
{% endif %}

<a href="/chave" class="btn btn-danger" role="button">Voltar</a>
<a href="/chave/{{ chave.id }}/novo" class="btn btn-primary" role="button"
  >Adicionar</a
>

{% endblock %}
