[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
astroid = "*"
backports.functools-lru-cache = "*"
configparser = "*"
enum34 = "*"
futures = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
peewee = "*"
pylint = "*"
singledispatch = "*"
six = "*"
telepot = "*"
urllib3 = "*"
wrapt = "*"

[requires]
python_version = "3.6"
