
#cenario {
    position:absolute;
    top:10%;
    left:5%;
    max-width:600px;
    max-height:600px;
    width: auto;
    height: auto;
    z-index: -1;
}
#inimigo {
    position:relative;
    top: 150px;
    left: 20%;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}